/* Generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header{
    height: 100px;
}

a.navbar-brand{
    width: 10%;
}

#searchElementContainer{
    width: 90%;
}

.bacColGre{
    background-color: rgba(230,230,230,255);
}
/* Contenuto */
#contenuto{
    height: calc(100vh - 100px);
}
/* Sidebar */
#sidebar{
    height: 100%;
    width: 15%;
    background-image: url("img/img/sidebar-bg.png");
    background-color: rgba(5,30,52,255);
}
/* Main */
main{
    height: 100%;
    width: 85%;
}
/* Boolean */
.plusContainer{
    height: 2.5rem;
    width: 2.5rem;
}

.bacColBla{
    background-color: rgb(0, 0, 0, 0.3);
}
/* Prossime classi */
.wid50{
    width: 50%;
}

.wid25{
    width: 25%;
}

.wid15{
    width: 15%;
}

.penTraContainer{
    height: 2rem;
    width: 2rem;
}