@media only screen and (min-width: 768px){
    #sidebar{
        width: 10%;
    }

    main{
        width: 90%;
    }

    .wid-md-40{
        width: 40%;
    }

    .wid-md-15{
        width: 15%;
    }
}

@media only screen and (min-width: 992px){
    a.navbar-brand{
        width: 15%;
    }
    
    #searchElementContainer{
        width: 85%;
    }

    div.offcanvas.offcanvas-end{
        width: 55%;
    }
}